html, body {
height: 100%;
background-color: #EAE7E4;
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
color: #2B2B49;
}

  /*navigÄcijas josla*/
#sidebar{
position: fixed;
top: 0;
bottom: 0;
left: 0;
z-index: 100;
margin: 0%;
padding: 0%;
text-align: center;
background-color: #2B2B49;
}

.navbar-collapse{
margin: 0%;
padding: 0%;
}

#main-menu{
margin: 0;
padding: 0%;
padding-top: 8%;
display:block;
overflow:inherit;
height: 150%;
background-color: #2B2B49;
text-align: center;
border-radius: 0%;
border: none; 
margin-left: 0;
margin-right: 0;
}

#logo{
width: 20%;
height: auto;
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

#logo2{
display: absolute;
width: 50px;
height: auto;
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
margin: 0;
padding: 4px;
margin-left: 10px;
}

#signum{
font-family: impact, monospace, sans-serif;
text-transform: uppercase;
font-weight: 150;
color: #E00B00;
text-align: center;
font-size: 175%;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mob-nav{
margin-bottom: 6%;
}

#main-point{
color: #EAE7E4;
width: 100%;
padding-top: 5%;
padding-bottom:5%;
margin: 0%;
display: inline-block;
text-decoration: none;
font-size: 130%;
text-align: center;
line-height: 1.1;
font-family: Consolas, monaco, monospace;
}

hr{
height: 2px;
margin: 0;
padding: 0;
background-color: #EAE7E4;
border: none;
}

.dropdown-content{
background-color: #EAE7E4;
width: 100%;
text-align: center;
margin: 0%;
display: inline-block;
padding: 0%;
border-radius: 0;
}

a.submenu{
color: #2B2B49;
display: inline-block;
width: 100%;
padding-top: 2%;
padding-bottom: 2%;
}

a.submenu:hover{
text-decoration: none;
background-color: #E00B00;
width: 100%;
}

a.accordion {
padding: 6%;
display: block;
border: none;
cursor: pointer;
width: 100%;
text-decoration: none;
}

a.accordion2 {
padding: 6%;
display: block;
border: none;
cursor: pointer;
width: 100%;
text-decoration: none;
}

.panel{
border: none;
box-shadow: none;
}

.dropdown { /*does nothing???*/
position: relative;
display: block;
width: 100%;
margin: none;
border: none;
}

.dropdown-content { /*hides dropdown*/
display: none;
position: absolute;
}

.dropdown-content a { /*does nothing???*/
display: block;
-webkit-transition:max-height 500ms ease;
-moz-transition:max-height 500ms ease;
-o-transition:max-height 500ms ease;
transition:max-height 500ms ease;
}

.dropdown-content a:hover{
background-color: #E00B00;
}

.dropdown:hover .dropdown-content { /*opens dropdown*/
display: block;
position: relative;
}

.dropdown:hover .accordion2 { /*colors pakalpojumi*/
background-color: #E00B00;
-webkit-transition: background .5s ease-out;
-moz-transition: background .5s ease-out;
-ms-transition: background .5s ease-out;
-o-transition: background .5s ease-out;
transition: background .5s ease-out;
}
.accordion:hover { /*colors every other div*/
background-color: #E00B00;
-webkit-transition: background .5s ease-out;
-moz-transition: background .5s ease-out;
-ms-transition: background .5s ease-out;
-o-transition: background .5s ease-out;
transition: background .5s ease-out;
}


		/*index.html*/
#main-content{
position: relative;
float: right;
margin: auto;
margin-top: 2%;
}

#wrapper {
width: 90%;
margin: auto;
margin-top: 6%;
margin-bottom: 6%;
background-color: #D6D3D3;
text-align: left;
padding: 2%;
}

#wrapper h2{
text-align: center;
}


		/*pakalpojumi.html*/	
#apli {
width: 18vw;
height: auto;
text-align:center;
margin: 0;
margin-left: 1vw;
padding: 0;
display:inline-block;
float:none;
text-align:left;
margin-right:-4px;
}

.img-circle{
width: 18vw;
height: auto;
overflow: hidden;
margin: 0;
z-index: 1;
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

#pak {
text-align:center;
margin-bottom: 1vw;
}

#virsraksts {
width: 100%;
height: 35%;
background-color: rgba(234, 231, 228, 0.7);
z-index: 10;
position: absolute;
left: 0;
top: 35%;
padding: auto;
-webkit-transition: background-color 500ms;
-moz-transition: background-color 500ms;
-o-transition: background-color 500ms;
transition: background-color 500ms;
}

#virsraksts p{
color: #2B2B49;
text-align:center;
position: absolute;
text-transform: uppercase;
font-size: 1vmax;
font-weight: 600;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
white-space: pre;
text-decoration: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

#virsraksts:hover {
background-color: rgba(234, 231, 228, 0.9);
}


		/*kontakti.html*/
#wrapper2 {
width: 90%;
margin: auto;
padding: auto;
border: none;
}

#karte{
margin-bottom: 3%;
margin-right: 0;
margin-left: 0;
}

iframe{
border: none;
padding: 0;
}

#map {
height: 480px;
padding: 0;
}

#paneli {
margin-bottom: 1%;
}

#kontakti{
background-color: #D6D3D3;
padding: 1%;
text-align: center;
min-height: 480px;
}

#kontakti p{
font-size: 100%;
text-align: center;
line-height: 100%;
padding: auto;
}

.table{
text-align: center;
background-color: #D6D3D3;
margin: 0;
}

#hr2{
height: 2px;
padding: auto;
background-color: #2B2B49;
border: none;
width: 99%;
margin-left: auto;
margin-right: auto;
}

#num{
background-color: darkgrey;	
font-family: Consolas, monaco, monospace;
color: #2B2B49;
font-weight: bold;
padding: 1%;
width: 100%;
height: 100%;
border: 0;
font-size: 200%;
}

#num:hover {
background-color: #8c8c8c;
}

.collapse{
-webkit-transition: height 2s;
transition: height 2s;
}


		/*/submenus*/
#gallery-wrapper {
background-color: #D6D3D3;
}

.carousel-inner > .item > a > img {
width: 100%;
height: 31vmax;
object-fit: cover;
}

#description {
margin: auto;
padding: 2%;
padding-top: 3%;
padding-bottom: 1%;
margin-bottom: 4%;
}


		/*collapsed one*/
@media screen and (max-width: 767px) {  
#sidebar{
position: static;  
height: 0%;
margin: 0%;
padding: 0%;
text-align: center;
}

.navbar-header{
position: static; 
background-color: #2B2B49;
width: 100%;
}

.navbar-collapse.in {
background-color: #2B2B49;
overflow: hidden;
}

a.submenu{
padding-top: 1%;
padding-bottom: 1%;
}

.navbar-toggle{
background-color: #EAE7E4;
}

#wrapper2, #wrapper{
width: 100%;
}

#main-content{
margin-top: 2%;
}

#wrapper{
padding: 5%;
margin-top: 0;
margin-bottom: 6%
}

#wrapper2 {
font-size: 10px;
line-height: normal;
}

#main-menu{
padding-top: 0%;
z-index: 200;
height: 80%;
width: 100%;
font-family: Consolas, monaco, monospace;
background-color: #2B2B49;
text-align: center;
border-radius: 0%;
border: none;  
}

#apli {
width: 25vmin;
}

.img-circle {
width: 25vmin;
}

#virsraksts p{
font-size: 2vmin;
}

#kontakti{
min-height: 17em;
height: 100%;
padding: auto;
}

#map{
height: 80vw;
width: 100%;
}

#main-content{
float: none;
}
}

@media screen and (max-width: 991px) and (min-width: 768px){
#main-content{
width: 70%;
float: right;
}

#sidebar{
width: 30%;
}

.navbar-header, .navbar-collapse.in, .navbar-toggle, .navbar-default{
display: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border: none;
box-shadow: none;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}
}